<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckIfNumIsArmstrong.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CheckNumIsPalindrome.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ClimbingStairs.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>CountTheDigitsInNum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Cpp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Cutting The rod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>FactorialOfNum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Faxtorial.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>FindAllFactors.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>FindDuplicateElements.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GreatestCommonFactorOfTwoNum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>IfNumIsPrime.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Is array sorted.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>LCMoFTwoNumbers.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>Leetcode 217. Contains Duplicate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Max Num Recu.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Max Sum of non adjacent array element.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>MinMaxArray.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Minimum No to reach target.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Moving-VeNumLeft.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NumIsPerfectSq.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Palindrome Number 9 Leetcode.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Partition Equal Subset Sum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>PowOf2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Print Digits of a num.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>PrintDigits.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>PrintPrimeTillN.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ROUGH.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>RecuBinarySearch.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>RecuCounting.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>RemoveDuplicate.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ReverseANum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Rotate Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>RotateAMatrix.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Rough.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Smax&amp;Smin.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Sort Array by Increasing Frequency.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Sorting0&amp;1Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SortingMatrix.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>SubSequesnce Of a String.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>SumOfDigit.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Superior Elements.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>TowSum 1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>TransposeAMatrix.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnionOfArray.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>recCountNum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>recu fibonacci series.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>770DFD372D65EDEA00746FC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771187D52D512957004ED5CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771187E32D512DFA004ED5CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7718757C2D759517003F3E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF232D5F152700B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF2E2D5F175F00B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF392D5F1A9D00B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF442D5F97F300B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF4F2D5F989F00B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF5A2D5F9B4900B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF652D5FA03E00B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF702D5FA90800B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771BFF7B2D5FB22D00B70421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7729A8912D5A732700DCDC26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7729A89C2D5A767900DCDC26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774310F72D5375F4008AEE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774311022D547BDB008AEE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77459FDC2D45398100BB510C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77467FFA2D81579C00F01867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774680052D81AC7B00F01867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774680102D81B4A300F01867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7746801B2D82A1B300F01867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774680262D82ABA700F01867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7747D2742D9140E8003CD9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7747D2BD2D91A711003CD9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775515BC2D5B0E6D0083F2A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7757919E2D60BC83005D47C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777159C32D64A31600805B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777159CE2D64C16E00805B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777159D92D64CAAE00805B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B12C802D78336800D91EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B12C8B2D7852E200D91EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77BC55DE2D93E7910046BDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77CEF56C2D60E8B900F11B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77CEF5772D60F31700F11B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E0E3EF2D96733000549513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E0E3FA2D9685DD00549513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E0E4052D969B1B00549513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E0E4102D97BC7400549513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E0E41B2D97C1D600549513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E0E4262D97F2A200549513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77FE7D792D9DCAC50080D401</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
